@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$colorPrimary: #d9d900;
$colorSecondary: #242415;
$color3:white;
$colorBorder:rgb(202, 202, 202);
$colorSection:rgb(235, 235, 235);
$color4: beige;